[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bodenmiller"]
	path = bodenmiller
	url = https://github.com/yannabraham/bodenmiller
[submodule "cytofan"]
	path = cytofan
	url = https://github.com/yannabraham/cytofan
[submodule "hilbertSimilarity"]
	path = hilbertSimilarity
	url = https://github.com/yannabraham/hilbertsimilarity
[submodule "Radviz"]
	path = Radviz
	url = https://github.com/yannabraham/radviz
